extends partial/layout

block body
  .container
    .row
      .col-md-12.text-center.mt-2.mb-2.to-top.fade-in
        .h1.article-title 页面施工中...
    .row
      .col-md-8.mx-auto
        img(src='/images/build-guide-1.png', alt='comming soon').img-responsive.width-fit.img-assembly
