extends partial/layout

block body
  .row.article-wrap
    .col-md-10.mx-auto.article-panel
      h1.title-string=page.title
      p.date-string= date(page.date, 'YYYY MMM DD') + ' NekoApocalypse'
      .article-content!=page.content
