.container-fluid.footer
  .row
    .col-md-12.text-center
      span © 2018 NekoApocalypse
    .col-md-12.text-center
      span Theme 
        a(href='https://github.com/NekoApocalypse/hexo-danbooru-labs', target='blank') Danbooru Labs
        |  by NekoApocalypse
    .col-md-12.text-center
      span Powered by 
        a(href='https://hexo.io/', target='blank') Hexo
    .col-md-12.text-center
      span Unless stated otherwise, content on this site is licensed under 
        a(href='https://creativecommons.org/licenses/by-sa/4.0/', target='blank') CC BY-SA 4.0
