.container-fluid.footer
  .row
    .col-md-12.text-center
      span.text-muted © 2018 NekoApocalypse
    .col-md-12.text-center
      span.text-muted Powered by 
        a(href='https://hexo.io/') Hexo
