
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title NekoBlast's Blog
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/fonts.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/post.css')
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:300,400|PT+Sans" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://use.typekit.net/tnv3kae.js")
    script try{Typekit.load({ async: true });}catch(e){}

body.mx-auto
  #wrap
    include header.pug
    .container.main
      block body  
        
  include footer.pug
  script(src='/js/script.js')
